.page-header {
  /* Box-model */
  display: flex;
  flex-direction: column;

  /* Visual */
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  background-color: var(--color-primary-dark);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.page-header .top-bar {
  /* Box-model */
  margin: 0 auto;
  padding: 1.6rem 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-text-in-primary);
}

.page-header .top-bar .page-name {
  font: 1.6rem Archivo;
  font-weight: 500;
}

.page-header .top-bar > img {
  height: 1.6rem;
}

.page-header .top-bar a {
  /* Box-model */
  height: 3.2rem;

  /* Misc */
  transition: opacity 0.2s;
}

.page-header .top-bar a:hover {
  opacity: 0.6;
}

.page-header .header-content {
  /* Positioning */
  position: relative;

  /* Box-model */
  width: 90%;
  margin: 3.2rem auto;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

@media (min-width: 700px) {
  .page-header {
    min-height: 340px;
  }

  .page-header .top-bar {
    max-width: 1100px;
  }

  .page-header .header-content {
    margin: 0 auto;
    max-width: 740px;
    flex: 1;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .page-header .header-content strong {
    display: inline-block;
    max-width: 340px;
  }
}
