#page-teacher-list {
  height: 100vh;
  width: 100vw;
}

#page-teacher-list .title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#search-teachers button {
  /* Box-model */
  margin-top: 3.2rem;
  width: 100%;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Visual */
  background: var(--color-secundary);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;

  /* Typography */
  color: var(--color-button-text);
  font: 700 1.6rem Archivo;
  text-decoration: none;

  /* Misc */
  transition: background-color 0.2s;
}

#search-teachers button:hover {
  background: var(--color-secundary-dark);
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#page-teacher-list main .no-teachers-text {
  margin: 0 auto;
  margin-top: 12rem;
  max-width: 24.7rem;
  text-align: center;
  line-height: 2.6rem;
  color: var(--color-text-complement);
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    /* Positioning */
    position: absolute;
    bottom: -28px;

    /* Box-model */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px;
    column-gap: 10px;
  }

  #search-teachers .input-block + .input-block,
  #search-teachers .select-block + .select-block {
    margin-top: 0;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }

  #page-teacher-list .teacher-item header,
  #page-teacher-list .teacher-item footer {
    padding: 3.2rem;
  }

  #page-teacher-list .teacher-item > p {
    padding: 0 3.2rem;
  }

  #page-teacher-list .teacher-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  #page-teacher-list .teacher-item footer button {
    width: 24.5rem;
    justify-content: center;

    font-size: 1.6rem;
  }

  #page-teacher-list .teacher-item footer img {
    margin-right: 1.6rem;
  }
}
