#success-step {
  height: 100%;
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

#success-step .success-step-content {
  height: 100%;
  width: 100%;
  margin: 0 16rem 0 16rem;
  /* padding: 12.282rem 16rem 0 16rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#success-step .success-step-content h1 {
  font-family: Archivo;
  font-weight: bold;
  color: var(--color-title-in-primary);
  margin-top: 4rem;
  font-size: 5.4rem;
}

#success-step .success-step-content h4 {
  width: 47.2rem;
  text-align: center;
  margin-top: 2.4rem;
  font-weight: normal;
  color: var(--color-text-in-primary);
}

#success-step .success-step-content a {
  margin-top: 8rem;
  background-color: var(--color-secundary);
  color: var(--color-button-text);
  text-decoration: none;
  border-radius: 0.8rem;
  height: 5.6rem;
  width: 18.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#success-step .success-step-content a:hover {
  opacity: 0.7;
  transition: 0.2s;
}
